body {
      font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
#header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #04ACF0;
}
